<!DOCTYPE html>
<html lang="en" ng-app="geohash-sample">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="geohash.js"></script>
  <script src="sample.js"></script>
</head>
<body ng-controller="MainController">
  <h2>Encode:</h2>
  <p>Latitude: <input type="text" ng-model="lat"></p>
  <p>Longitude: <input type="text" ng-model="lng"></p>
  <input type="button" value="Encode" ng-click="encode()" />
  <p>Result: {{ encodeResult }}</p>
</body>
</html>
